@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

h1{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-align:center

   
}

.contenedor{
   
    width: 100%;
    height: auto;
    
/*    display: grid;
    place-content: center;*/
}


.box-left{
    width: 38%;
    float:left;
    background-image: url("./img/cajero.jpg");
    height: 960px;
    display: flex;
   align-items: center;

   
   
}
#texto-principal{
    color:rgba(248, 223, 83, 0.904);
    font-size: 55px;
    font-family: 'Oswald', sans-serif;
    width: 378.100;
   
    align-items: center;

}

#img-left{
    width: 100%;
    height:960px;

}

.box-right{
    width: 62%;
    height: 100%;
    float:left;
    display: grid;
    place-content: center;
    position:relative;
    
    
    
}

.item-center{
    display: grid;
    place-content: center;
    margin-top :10px;
    margin-bottom: 10px;

}


/*.photo{
    width: 100px;
    background-color: aqua;

}*/


.photo-left{

    display: grid;
    place-content: left;

}

body{

    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;

}

#btn-validar{
     width: 250px;
     height: 40px;
     font-family: 'Oswald', sans-serif;
     font-weight: bold;
    background-color: rgb(255, 153, 0);
    border-color:rgb(255, 153, 0);
    font-size: 20px;
    border-radius: 10px;
    color:aliceblue;

    
   

}

#cardnumber{
    padding: 10px; 
    width: 300px;
    margin-top: 10px;
    border-radius: 10px;
    }

    #letraabajo{
        color:darkgray;
        font-size: 15px;
        
       
        
    }

    .item-bottom{
        background-color: yellow;
        position: absolute;
        bottom: 0;


    }
